<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>techtropolis</title>

</head>

<body>
    <header>

        <div class="logo">
            <img class="img1" src="/images/LOGO 2.png" alt="technopolis">
        </div>
        <div class="form" action="#" method="GET">
            <input placeholder="Search" type="search" class="input">
            <p><i class="fas fa-hand-holding-usd"></i></p>
        </div>
        <section class="layout">
            <div class="grow1">
                <ul class="obciones">
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Promocion</a></li>
                    <li><a href="#">Ofertas Limitadas</a></li>
                    <li><a href="#">Locales</a></li>
                    <li><a href="#">contacto</a></li>
                    <li><a href="#">Horarios de atecion</a></li>
                </ul>
            </div>
            <div class="grow1">

            </div>

        </section>
        <nav>


        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <div>
        <img src="/images/ofertas (2).png" class="img-1" alt="ofertas">
    </div>

    <main class="tamaño">
        <div class="forma">
            <article class="articulo fondomain1">
                <img src="/images/monitor gigabyte.png" alt="monitor">
                <div class="main-article">
                    <p class="discount">10% Off</p>
                    <p class="price">$6.770</p>
                    <h4 class="description">Monitor Gigabyte</h4>
                </div>
            </article>
            <article class="articulo fondomain1">
                <img src="/images/monitor gigabyte.png" alt="monitor">
                <div class="main-article">
                    <p class="discount">10% Off</p>
                    <p class="price">$6.770</p>
                    <h4 class="description">Monitor Gigabyte</h4>
                </div>
            </article>
            <article class="articulo fondomain1">
                <img src="/images/monitor gigabyte.png" alt="monitor">
                <div class="main-article">
                    <p class="discount">10% Off</p>
                    <p class="price">$6.770</p>
                    <h4 class="description">Monitor Gigabyte</h4>
                </div>
            </article>
            <article class="articulo fondomain1">
                <img src="/images/monitor gigabyte.png" alt="monitor">
                <div class="main-article">
                    <p class="discount">10% Off</p>
                    <p class="price">$6.770</p>
                    <h4 class="description">Monitor Gigabyte</h4>
                </div>
            </article>
        </div>
    </main>

    <footer class="pie1">
        <div class="boton">
        <button>
            <span class="text">Button</span>
          </button><button>
            <span class="text">Button</span>
          </button>
       </div>
       
        <h4>politica de privacidad</h4>

    </footer>



</body>

</html>