* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.contenedor {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    /* background-color: white; */
    background-image: linear-gradient(to left, #1ee9ff, #00bd80);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px -2px 37px 0px rgb(0, 0, 0);
}

.imagen {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

.imagen img {
    width: 100%;
}

.producto {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo {
    width: 100%;
    text-align: center;
    padding: 8px 0;
}

.precio {
    text-align: center;
    font-size: 10px;
    text-decoration: line-through;
    font-style: italic;
}

.descuento {
    text-align: center;
    color: #15b20a;
    font-size: 10px;
    font-style: italic;
}

.total {
    padding: 5px;
    font-style: italic;
}

.descripcion {
    padding: 5px;
    padding-left: 20px;
    color: black;
}


.descripcion li {
    font-size: 12px;
}

.compra {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.comprar {
    text-align: center;
    background-color: #41d7e8;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px;
}

.agregar {
    text-align: center;
    padding: 2px;
    margin-left: 3px;
    background-color: #41d7e8;
    border: 1px solid white;
    border-radius: 5px;
}

.textA {
    display: none;
}

.comprar:hover,
.agregar:hover,
.admin a:hover,
.admin button:hover {
    background-color: blue;
    color: white;
}

.admin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.admin button,
.admin a {
    text-decoration: none;
    color: black;
    background-color: #41d7e8;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
}


@media (min-width: 380px) {
    .contenedor {
        padding: 5%;
        margin-top: 35px;
    }

    .titulo {
        font-size: 25px;
    }

    .precio,
    .descuento {
        font-size: 16px;
    }

    .total {
        font-size: 22px;
    }

    .caracteristicas {
        font-size: 23px;
    }

    .descripcion li {
        font-size: 20px;
    }

    .comprar,
    .agregar,
    .admin a,
    .admin button {
        font-size: 20px;
    }
}

@media (min-width: 769px) {
    .contenedor {
        width: 90%;
        margin-top: 60px;
        justify-content: space-between;
        align-items: center;
    }

    .imagen {
        width: 48%;
    }

    .producto {
        width: 48%;
    }

    .titulo {
        font-size: 40px;
    }

    .precio,
    .descuento {
        font-size: 24px;
    }

    .total {
        font-size: 30px;
    }

    .caracteristicas {
        font-size: 30px;
    }

    .descripcion li {
        font-size: 27px;
    }

    .comprar,
    .agregar,
    .admin a,
    .admin button {
        font-size: 30px;
        margin: 40px 15px 20px 15px;
    }

    .textA {
        display: contents;
    }
}


@media (min-width: 1315px) {
    .contenedor {
        position: relative;
        align-items: start;
    }

    .descripcion {
        position: absolute;
        right: 0;
        top: 29%;
        width: 45%;
    }

    .caracteristicas {
        font-size: 22px;
    }

    .descripcion li {
        font-size: 20px;
    }
}