*{
    margin: 0;
    padding: 0;   
    font-family: 'poppins' , sans-serif; 
}
body{
    background-image:linear-gradient(to right,#1ee9ff,#00bd80   ) ;

     color: white;
    
}
header{
    background-color: #000000;
    width: 100%;
}

/****  Home ****/



header div.top-header p{
    width: 100%;
    text-align: center;
    display: flex;
   
}

.layout {
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: center;
  }
  
.grow1 { flex-grow: 1; }


.img1{
    width: 20%;
    
}

.form{
   width: 100%;
   display:flex;
   align-items: center;
 justify-content: center;
}
.imput{
    position:relative;
    top:20px;
    display:flex;
    align-items: center;
  justify-content: center;
}    
.obciones {
    
    display:flex;
    align-items: center;
  justify-content: space-around;
  position:relative;
    left:25%;

}
header ul li a{
    text-decoration: none;
    color: #5cffff;
    
}

header .form .input{
    position:relative;
    bottom:60px;
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 4px;
    width: 40%;
    
    display:flex;
    align-items: center;
  justify-content: space-around;
      
}

header .form .submit{
    text-align: left;
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 50%;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #000000;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

