<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>techtropolis</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>

        <%- include('partials/header') %>

    </header>
    <div class="logo">
        
    </div>
    <div class="form" action="#" method="GET">
        
    </div>
    <section class="layout">
    
    </section>
    <div class="burger-menu">
    
    </div>


</header>

    <div>
        <img src="/images/ofertas (2).png" class="img-1" alt="ofertas">
    </div>

    <main class="tamaño">
        <div class="forma">
            <article class="articulo fondomain1 img-position">
                
                    <img src="/images/monitor gigabyte.png" alt="monitor">
                
                <div class="main-article">
                    <p class="discount">10% Off</p>
                    <p class="price">$75.000</p>
                    <h4 class="description">Monitor Gigabyte</h4>
                </div>
            </article>
            <article class="articulo fondomain1 img-position">
                
                    <img src="/images/img produpto/3341-gamepro-gk-70m-teclado-mecanico-rgb-60-outemu1-47297dcad44e3715cb16670806628282-640-0.png"
                        alt="monitor">
               
                <div class="main-article">
                    <p class="discount">20% Off</p>
                    <p class="price">45.000</p>
                    <h4 class="description">Teclado Mecanico</h4>
                </div>
            </article>
            <article class="articulo fondomain1 img-position">
                
                    <img src="/images/img produpto/579976_radeon_rx_6000xt_left_angle_1260x709_0.jpg" alt="monitor">
                
                <div class="main-article">
                    <p class="discount">10% Off</p>
                    <p class="price">$380.000</p>
                    <h4 class="description">rx 6700xt</h4>
                </div>
            </article>
            <article class="articulo fondomain1 img-position">
                
                    <img src="/images/img produpto/g923-ps4-gallery-1.png" adlt="monitor">
                
                <div class="main-article">
                    <p class="discount">10% Off</p>
                    <p class="price">$140.000</p>
                    <h4 class="description">volante Logitech</h4>
                </div>
            </article>
        </div>
    </main>

    <footer >

        <%- include('partials/footer') %>


    </footer>
    
</body>

</html>