<!DOCTYPE html>
<html>
<head>
    <title>Iniciar sesión</title>
    
       <link rel="stylesheet" href="/css/login.css">
    
</head>
<body>

    <header>
        <%- include('partials/header') %>
    </header>
    
    <div class="form-container" id="form-conteiner">
        <p class="title" id="title">Login</p>
        <form class="form" id="form">
            <div class="input-group" id="input-group">
                <label for="username">Usuario   </label>
                <input type="text" name="username" id="username" placeholder="">
            </div>
            <div class="input-group" id="input-group-1">
                <label for="password" id="lebe">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="">
                <div class="forgot">
                    <a rel="noopener noreferrer" href="#">Forgot Password ?</a>
                </div>
            </div>
            <input type="submit" style="color: blanchedalmond;" value="inicia sesion " id="button">
        </form>
        <div class="social-message">
            <div class="line"></div>
            <p class="message">Iniciar sesión con cuentas sociales</p>
            <div class="line"></div>
        </div>
        <div class="social-icons">
            <button aria-label="Log in with Google" class="icon">
                <i class="fa-brands fa-google"></i>
            </button>
            <button aria-label="Log in with Twitter" class="icon">
                <i class="fa-brands fa-twitter"></i>
            </button>
            <button aria-label="Log in with GitHub" class="icon">
                <i   class="fa-brands fa-github" ></i>
            </button>
        </div>
        <p class="signup">¿No tienes una cuenta?
            <a rel="noopener noreferrer" href="/register" class="">registrarse aqui</a>
        </p>
    </div>
    
     <footer><%- include('partials/footer') %></footer>
</body> 
</html> 
