<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>techtropolis</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

        <%- include('partials/header') %>
    </header>
    <div class="logo">
        
    </div>
    <div class="form" action="#" method="GET">
        
    </div>
    <section class="layout">
    
    </section>
    <div class="burger-menu">
    
    </div>


</header>

          <main>
         <div class="forma-cart">
            <div class="container">
                <nav>
                     <i class="fa-solid fa-cart-shopping">
                         <div class="buy-card">
                               <ul class="nav-card">
                                   <li>imagen</li>
                                   <li>Nombre-Descripcion</li>
                                   <li>Precio</li>
                                   <li>Cantidad 
                                    <input class="marcador-cantidad" type="number" id="campoNumero" size="4">
                                  </li>
                                   <button class="boton-borrar"><i class="fa-solid fa-trash"></i></button>
                               </ul>
                               
                           </div>
                        </i>
                </nav>
               </div>
               <div class="container">
                <nav>
                     <i class="fa-solid fa-cart-shopping">
                         <div class="buy-card">
                               <ul class="nav-card">
                                   <li>imagen</li>
                                   <li>Nombre-Descripcion</li>
                                   <li>Precio</li>
                                   <li>Cantidad 
                                    <input class="marcador-cantidad" type="number" id="campoNumero" size="4">
                                  </li>
                                   <button class="boton-borrar"><i class="fa-solid fa-trash"></i></button>
                               </ul>
                               
                           </div>
                        </i>
                </nav>
               </div>
               <div class="container">
                <nav>
                     <i class="fa-solid fa-cart-shopping">
                         <div class="buy-card">
                               <ul class="nav-card">
                                   <li>imagen</li>
                                   <li>Nombre-Descripcion</li>
                                   <li>Precio</li>
                                   <li>Cantidad 
                                    <input class="marcador-cantidad" type="number" id="campoNumero" size="4">
                                  </li>
                                   <button class="boton-borrar"><i class="fa-solid fa-trash"></i></button>
                               </ul>
                               
                           </div>
                        </i>
                </nav>
               </div>
               <div class="container">
                <nav>
                     <i class="fa-solid fa-cart-shopping">
                         <div class="buy-card">
                               <ul class="nav-card">
                                   <li>imagen</li>
                                   <li>Nombre-Descripcion</li>
                                   <li>Precio</li>
                                   <li>Cantidad 
                                    <input class="marcador-cantidad" type="number" id="campoNumero" size="4">
                                  </li>
                                   <button class="boton-borrar"><i class="fa-solid fa-trash"></i></button>
                               </ul>
                               
                           </div>
                        </i>
                </nav>
               </div>
               <div class="container">
                <nav>
                     <i class="fa-solid fa-cart-shopping">
                         <div class="buy-card">
                               <ul class="nav-card">
                                   <li>imagen</li>
                                   <li>Nombre-Descripcion</li>
                                   <li>Precio</li>
                                   <li>Cantidad 
                                    <input class="marcador-cantidad" type="number" id="campoNumero" size="4">
                                  </li>
                                   <button class="boton-borrar"><i class="fa-solid fa-trash"></i></button>
                               </ul>
                               
                           </div>
                        </i>
                </nav>
               </div>
               
         </div>    
          </main>

          <footer>
            <%- include('partials/footer') %>
          </footer>
        



          
           
</body>
</html>
