<!DOCTYPE html>
<html>
<head>
    <title>Registrarse</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>

    <header>
        <%- include('partials/header') %>
    </header>
    <main>
    <div class="form-container">
        <h2>Registrarse</h2>
        <form action="/register" method="post">
           <label for="email">Correo electrónico:</label>
            <div class="form-group">
                
                <input type="email" id="email" name="email" required>
            </div>
            <label for="password">Contraseña:</label>
            <div class="form-group">
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrarse">
            </div>
        </form>
    </div>
    </main>
    <footer><%- include('partials/footer') %></footer>
</body>
</html>