<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> header </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>

        <div class="logo">
            <a href="/"><img class="img1" src="/images/LOGO2.png" alt="technopolis"></a>
        </div>
        <div class="form" action="#" method="GET">
            <input placeholder="Search" type="search" class="input">
            
            <div class="login-register-buttons">
                <button><a href="/login">Iniciar sesión</a></button>
                <button><a href="/register">Registrarse</a></button>
                <button><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></button>
            </div>

        </div>
        <section class="layout">
            <div class="grow1">
                <ul class="obciones">
                    <li><a href="products">Productos</a></li>
                    <li><a href="#">Promocion</a></li>
                    <li><a href="#">Ofertas Limitadas</a></li>
                    <li><a href="#">Locales</a></li>
                    <li><a href="#">contacto</a></li>
                    <li><a href="#">Horarios de atecion</a></li>
                </ul>
            </div>
            <div class="grow1">
            </div>
        </section>

        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <div class="logo">
        
    </div>
    <div class="form" action="#" method="GET">
        
    </div>
    <section class="layout">
    
    </section>
    <div class="burger-menu">
    
    </div>


</header>
</body>
</html>